/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

#header-main {
  height: 525px;
}

#header-main h2{
  font-weight: 200;
  letter-spacing: .3px;
}



/******************************************** Smaller than 1024 **************************************************************/
@media screen and (max-width: 1024px) {

}

/******************************************** Smaller than 900 **************************************************************/
@media screen and (max-width: 900px) {

}

/********************************************* Smaller than 767 *************************************************************/
@media screen and (max-width:767px) {
  #header-main {
    height: 468px;
  }
}

/********************************************** Smaller than 675 ************************************************************/
@media screen and (max-width:675px) {
  #header-main {
    height: 455px;
  }
}

/********************************************** Smaller than 600 ************************************************************/
@media screen and (max-width:600px) {
  #header-main {
    height: 375px;
  }

  #header-main h2{
    font-weight: lighter;
    letter-spacing: .1px;
  }
}